* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ffd700, #ffb700, #ffa500);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#game-container {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

.general-btn {
  background: linear-gradient(135deg, #ffd700, #ffb700, #ffa500);
  padding: 15px;
  color: white;
  border-radius: 15px;
  border: none;
  font-size: 1.2rem;
}

#guess-number-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

#guess-number-input {
  padding: 15px;
  border-radius: 15px;
  border: 3px solid #ffd700;
  width: 100%;
}

#tries {
  background-color: #ffd700;
  border-radius: 20px;
  padding: 10px;
  color: white;
}
