/* VAR */
:root {
    --primary-color: #eaf0ff;
    --secondary-color: #181818;
    --base-font-size: 16px;
    --primary-font-size: 2.5rem;
    --secondary-font-size: 1.8rem;
    --container-width: 1170px;
  }
  /* GLOBAL */
  @font-face {
    font-family: "Open Sans Regular";
    src: url("./fonts/Open_Sans/OpenSans-Regular.ttf");
  }
  
  @font-face {
    font-family: "Open Sans Extra Bold";
    src: url("./fonts/Open_Sans/OpenSans-ExtraBold.ttf");
  }
  
  html {
    font-family: "Open Sans Regular";
    font-size: var(--base-font-size);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Open Sans Extra Bold";
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    max-width: var(--container-width);
    margin: auto;
  }