@import "global.scss";
@import "header.scss";
@import "banner.scss";
@import "services.scss";
@import "testimonials.scss";
@import "about.scss";
@import "newsletter.scss";
@import "faq.scss";
@import "footer.scss";
@import "responsive.scss";