/* NEWSLETTER */
.newsletter-container {
  background-image: url("./img/about.jpg");
  background-size: cover;
  background-attachment: fixed;

  .newsletter-overlay {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    color: white;
  }

  .newsletter-content {
    h2 {
      text-align: center;
      font-size: var(--primary-font-size);
    }

    form {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    input[type="email"] {
      width: 50%;
      border: none;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    input[type="submit"] {
      border: none;
      margin-top: 15px;
      background-color: var(--primary-color);
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.5s;
    }
  }
}
